html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    background: rgb(29,29,29);
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#canvas {
    width: 95%;
    height: 95%;
    display: block;
    border-radius: 1rem;
    border: 2px solid black;

    background: rgb(29,29,29);
    background: linear-gradient(0deg, rgba(29,29,29,1) 25%, rgba(235,104,36,1) 40%, rgba(135,50,167,1) 54%, rgba(46,30,110,1) 67%, rgba(46,30,108,1) 83%, rgba(33,33,33,1) 100%);

}
